<h2>Add supplier</h2>
<form method="post" action="/suppliers">

<label for="supplier-name">Supplier name:</label>
<input type="text" name="name" id="supplier-name"/>
<br>
<br>

<label for="telephone-number">To reorder, call:</label>
<input type="text" name="telephone_number" id="telephone_number"/>
<br>
<br>

<input class="submit" type="submit" value="Add supplier">
<br>
<br>

</form>
