<p>Delete item: <%= @supplier.name %> </p>

<form method="post" action="/suppliers/<%= @supplier.id %>/delete">
<input type="submit" value="Delete supplier"/>
</form>

 <p>The following products need to be removed or supplier updated prior to deleting this supplier:</p>

 <table>
   <tr>
     <th>Product</th>
     <th>Stock</th>
   </tr>


    </table>
