<p>Delete supplier: <%= @supplier.name %> </p>

<p>Products supplied by supplier:</p>

<ul>
<% @products.each do |product| %>
<p><%= product.product %></p>
<% end %>
</ul>
<p>Please ensure all products previously supplied by this supplier have been removed from inventory prior to pressing the delete button.</p>

<form method="post" action="/suppliers/<%= @supplier.id %>/delete">
<input class="submit" type="submit" value="Delete supplier"/>
</form>
