<p>Delete item: <%= @supplier.name %> </p>

<form method="post" action="/suppliers/<%= @supplier.id %>/delete">
<input type="submit" value="Delete supplier"/>
</form>

<p>If you receive an error message upon deleting, please check that products previously supplied by this supplier have been removed from inventory.</p>
