<h2>Edit supplier details</h2>
<form method="post" action="/suppliers/<%= @supplier.id %>">

<label for="supplier-name">Supplier name:</label>
<input type="text" name="name" id="supplier-name" value="<%= @supplier.name %>"/>

<label for="telephone-number">To reorder, call:</label>
<input type="text" name="telephone_number" id="telephone_number" value="<%= @supplier.telephone_number %>"/>

<input type="submit" value="Edit supplier">

</form>
