<h2>Suppliers</h2>


<table>
  <tr>
    <th>Name</th>
    <th>To reorder, call:</th>
  </tr>
  <% for supplier in @suppliers %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.telephone_number %></td>
  </tr>
  <% end %>
</table>
