<!DOCTYPE html>
<html>
<head>
  <title>Sweets like Chocolate</title>
  <link rel="stylesheet" href="/tables.css">
  <link rel="stylesheet" href="/structure.css">

</head>
<body>
  <h1>Sweets like Chocolate</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/products">Products</a>
      </li>

      <li>
        <a href="/products/add">Add</a>
      </li>

      <li>
        <a href="/products/edit">Edit</a>
      </li>
      <li>
        <a href="/products/remove">Remove</a>
      </li>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
      <li>
        <a href="/suppliers/add">Add</a>
      </li>
      <li>
        <a href="/suppliers/remove">Remove</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
