<!DOCTYPE html>
<html>
<head>
  <title>Sweets like Chocolate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Sweets like Chocolate</h1>
  <nav>
    <ul>
      <li>
        <a href="/products">Products</a>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
