
<form action="/products" method="post">

  <label for ="product-name">Product:</label>
  <input type="text" name="product" id="product-name"/>


  <label for ="description">Description:</label>
  <input type="text" name="description" id="description"/>


  <label for ="stock-quantity">Stock:</label>
  <input type="number" name="stock_quantity" id="stock-quantity" min="0"/>


  <label for ="buying-cost">Buying cost (pence):</label>
  <input type="number" name="buying_cost" id="buying-cost" min="0"/>


  <label for ="selling-price">Selling price (pence):</label>
  <input type="number" name="selling_price" id="selling-price" min="0"/>

  <label for ="supplier">Supplier:</label>
  <select name="supplier_id">
     <% for supplier in @suppliers %>
   <option value=<%= supplier.id %>><%= supplier.name %></option>
   <% end %>
  </select>

  <input class="submit" type="submit" value="Submit">

</form>
